<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<title>Rockin' Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
	</head>
	<body>
		<img src='/public/assets/img/burger.jpg' height=300 width=300>
         {{{body}}}
	</body>
</html>